
/* card-list
-------------------------------------------------*/

.card-list li {
  /*min-height: 300px;*/
  float: left;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
}

.card-list .item-1 {
  margin-left: 0 !important
}

.card-list-4 li {
  width: 23.5%;
  margin-left: 2%;
}

.card-list-4 li:nth-child(4n-3) {
  clear: left;
  margin-left: 0
}

.card-list-3 li {
  width: 31.333%;
  margin-left: 3%;
}

.card-list-3 li:nth-child(3n+1) {
  margin-left: 0;
  clear: left;
}

@media (max-width: 800px) {

  .card-list-4 li {
    width: 31.333%;
    margin-left: 3%
  }

  .card-list-4 li:nth-child(4n-3) {
    clear: none;
    margin-left: 3%
  }

  .card-list-4 li:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }

  .card-list-3 li {
    width: 48%;
    margin-left: 4%;
  }

  .card-list-3 li:nth-child(3n+1) {
    clear: none;
    margin-left: 4%
  }

  .card-list-3 li:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

@media (max-width: 600px) {
  .card-list-4 li {
    width: 48%;
    margin-left: 4%
  }

  .card-list-4 li:nth-child(3n+1) {
    clear: none;
    margin-left: 4%
  }

  .card-list-4 li:nth-child(2n+1) {
    margin-left: 0;
    clear: left
  }

  .card-list-3 li {
    width: 100%;
    margin-left: 0%;
    clear: none
  }

  .card-list-3 li:nth-child(3n+1) {
    margin-left: 0
  }
}

@media (max-width: 460px) {
  .card-list-4 li {
    width: 100%;
    margin-left: 0%;
    clear: none
  }

  .card-list-4 li:nth-child(3n+1) {
    margin-left: 0
  }
}


/* nice select plugin */

.nice-select {
  height: 42px;
  line-height: 40px;
  border: none;
  outline: 1px solid #ccc;
  border-radius: 0;
  padding-left: 13px;
  font-weight: 400;
  color: #000;
  width:  100%;
}

.nice-select.open {
  border-color: none;
  outline-color: #33c3f0;
}

.nice-select .option {
  margin: 0;
  line-height: 42px;
}

.nice-select.open::after {
  border-color: #33c3f0;
}

.nice-select .nice-select-dropdown {
  outline: 1px solid #ccc;
  box-shadow: 0 5px 15px 5px rgb(0,0,0,0.05);
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  transform: translateY(-19px);
  transition: all .3s cubic-bezier(.18,.89,.25,1.45), opacity .15s ease-out;
}

.nice-select.open .nice-select-dropdown {
  opacity:1;
  transform: translateY(0)
}

.nice-select::after { right: 16px; }
.nice-select .list { margin-bottom: 0; }

.nice-select .option.selected {
  font-weight: 600;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #daf6ff;
}
