/* alerts
--------------------------------------*/

input[type=submit].primary,
button.primary,
.button.primary {
  color: rgb(0, 120, 231);
  border-color: rgb(0, 120, 231);
}

input[type=submit].selected,
button.selected,
.button.selected {
  color: #345fcb;
  border-color: #345fcb;
}

input[type=submit].secondary,
button.secondary,
.button.secondary {
  border-color: rgb(126, 159, 177);
  color: rgb(88, 136, 162);
}

input[type=submit].danger,
button.danger,
.button.danger {
  color: rgb(214, 86, 75);
  border-color: rgb(214, 86, 75);
}

input[type=submit].success,
button.success,
.button.success {
  color: rgb(64, 189, 79);
  border-color: rgb(64, 189, 79);
}

input[type=submit].warning,
button.warning,
.button.warning {
  color: rgb(255, 163, 0);
  border-color: rgb(255, 163, 0);
}

input[type=submit]:disabled,
button:disabled,
.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* alerts
--------------------------------------*/

.alert,
.alert-notice,
.alert-success,
.alert-warning,
.alert-danger,
.alert-error {
  position: relative;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
}

.alert > :last-child {
  margin-bottom: 0;
}

.alert label {
  display: inline-block;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  white-space: nowrap;
}

.alert,
.alert-notice {
  background: #ebf7fd;
  border: 1px solid rgba(45,112,145,0.3);
}

.alert,
.alert-notice,
.alert .close-button:after,
.alert-notice .close-button:after {
  color: #4684a3;
}

.alert-success {
  background: #f2fae3;
  border-color: rgba(101,159,19,0.3);
}

.alert-success,
.alert-success .close-button:after {
  color: #659f13;
}

.alert-warning {
  background: #fffceb;
  border-color: rgba(226,131,39,0.3);
}

.alert-warning,
.alert-warning .close-button:after {
  color: #e28327;
}

.alert-error,
.alert-danger {
  background: #fff1f0;
  border-color: rgba(216,80,48,0.3);
}

.alert-danger,
.alert-error,
.alert-error .close-button:after,
.alert-danger .close-button:after {
  color: #CA6664;
}

/* close button
-------------------------------------------------------------*/

.close-button {
  display: inline-block;
  width: 14px;
  line-height: 22px;
  text-align: center;
  color: inherit;
  -webkit-appearance: none;
  background: transparent;
  /* reset stuff if used as button */
  height: auto;
  padding: 0;
  border: 0;
  font-weight: 300;
}

a.close-button {
  text-decoration: none;
}

.close-button.left {
  margin-right: 10px;
}

.close-button.right {
  margin-left: 10px;
}

.close-button:focus {
  outline: none;
}

.close-button:after {
  content: '\00d7';
  display: block;
  font-size: 21px;

  opacity: 0.6;
  color: #666;

  text-align: center;
  font-weight: bolder;
}

.close-button:hover:after {
  opacity: 1;
}

/* menu
-------------------------------------------------------------*/

.navbar {
  display: block;
  width: 100%;
  height: 55px; /* same as a element line-height */
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar > .container {
  padding: 0;
}

.menu li {
  list-style: none;
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar .menu {
  margin-bottom: 0;
}

/* Initial menus should be inline-block so that they are horizontal */
.navbar .menu li,
.menu.horizontal li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* Submenus should still be display: block; */
.navbar .dropdown li,
.menu.horizontal .dropdown li {
  display: block;
}

.menu .item {
  display: block;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;

  font-size: 11px;
  font-weight: 500;
  letter-spacing: .2rem;
  padding: 0 20px;
  line-height: 55px;  /* same as a .navbar line-height */
  color: #222;
}

.menu .button,
.menu button {
  margin-right: 20px;
}

.menu a:hover,
.menu a:focus {
  color: #1EAEDB;
}

.menu a:active,
.menu a.active,
.menu .active a {
  color: #33C3F0;
}

.menu .button:hover {
  color: inherit;
}

/* dropdown
----------------------------------------------- */

.dropdown {
  position: relative;
}

.dropdown ul {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 3.5em;
  margin: 0em;
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* ensure nested dropdowns use the full parent's width */
li.dropdown ul {
  min-width: 100%;
}

.dropdown li {
  z-index: 100;
  background-color: #fafafa;
  min-width: 150px;
  border: 1px solid #eee;
  border-bottom: none;
}

.dropdown li:last-child {
  border-bottom: 1px solid #eee;
}

.dark .dropdown li {
  border-color: #111;
}

.right.dropdown ul {
  left: auto;
  right: 0;
}

.hover.dropdown:hover > .item {
  /* color: #1EAEDB; */
}

.dropdown.active ul,
.hover.dropdown:hover ul {
  display: block;
  visibility: visible;
}

/* menu icon & caret
----------------------------------------------- */

.menu-icon:before,
.menu-icon:after {
  display: inherit;
  position: relative;
  font-size: 18px;
  content: "";
  cursor: pointer;
  width: 20px;
  border-top: 2px solid #666;
}

.menu-icon:before {
  height: 4px;
  margin: 20px 20px 0;
  border-bottom: 2px solid #666;
}

.menu-icon:after {
  margin: 4px 20px 15px;
  height: 6px;
  border-top: 2px solid #666;
}

.caret {
  display: inline-block;
  padding: 0;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin: 25px 5px 0;
}

.dark .caret {
  border-top-color: #666;
}

/* black navbar
----------------------------------------------- */

.dark.navbar {
  border-color: #333;
}

.dark.navbar,
.dark .dropdown li {
  background: #1b1b1b;
}

.dark .item {
  color: #999;
}

.dark.navbar a:hover,
.dark.navbar a:focus,
.dark .dropdown:hover {
  color: #1EAEDB;
}

.dark .menu-icon:before,
.dark .menu-icon:after {
  border-color: #ccc;
}

@media (max-width: 767px) {

  .menu.visible,
  .menu:target {
    display: inherit;
    width: 100%;
    float: none !important; /* without this it pushes below */
    clear: both;
    position: relative;
    z-index: 1;
  }

  .menu.visible li {
    background: #fff;
  }

  .dark .menu li {
    background: #1b1b1b;
  }

  .visible.menu li {
    display: block; /* or inherit */
  }

}