.collapsable {
  /* max-height animation is long because the speed is calculated against
    the max-height value, not the elements actual height */
  max-height: 100em;
  transition: opacity .5s, max-height 5s cubic-bezier(0.25, 1, 0.5, 1);
/*  height: inherit;*/
/*  width: inherit;*/
}

.collapsable.collapsed {
/*  transition: max-height .5s ease-in-out;*/
  transition: opacity .3s, max-height .5s cubic-bezier(0, 1, 0.5, 1);
  overflow-y: hidden;
  max-height: 0;
  opacity: 0;
}

.transition__shrink {
  font-size: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;

  /* fade out, then shrink */
  transition: opacity .3s,
              font-size .3s .2s,
              margin .3s .2s,
              padding .3s .2s;
}

.transition__unshrink.transition__pending {
  font-size: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
}

.transition__unshrink {
  /* unshrink, then fade in */
  transition: font-size .2s,
              margin .2s,
              padding .2s,
              opacity .3s .25s;
}


.animate__animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__shakeX {
  -webkit-animation-name:shakeX;
  animation-name:shakeX
}

.animate__shakeY {
  -webkit-animation-name:shakeY;
  animation-name:shakeY
}

@-webkit-keyframes shakeX {
  0%, to {
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
  }
  20%, 60% {
    -webkit-transform:translate3d(-8px,0,0);
    transform:translate3d(-8px,0,0)
  }
  40%, 80% {
    -webkit-transform:translate3d(8px,0,0);
    transform:translate3d(8px,0,0)
  }
}

@keyframes shakeX {
  0%, to {
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
  }
  20%, 60% {
    -webkit-transform:translate3d(-8px,0,0);
    transform:translate3d(-8px,0,0)
  }
  40%, 80% {
    -webkit-transform:translate3d(8px,0,0);
    transform:translate3d(8px,0,0)
  }
}

@-webkit-keyframes shakeY {
  0%, to {
    -webkit-transform:translateZ(0);
     transform:translateZ(0)
  }
  20%, 60% {
    -webkit-transform:translate3d(0,-5px,0);
    transform:translate3d(0,-5px,0)
  }
  40%, 80% {
    -webkit-transform:translate3d(0,5px,0);
    transform:translate3d(0,5px,0)
  }
}

@keyframes shakeY {
  0%, to {
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
  }
  20%, 60% {
    -webkit-transform:translate3d(0,-5px,0);
    transform:translate3d(0,-5px,0)
  }
  40%, 80% {
    -webkit-transform:translate3d(0,5px,0);
    transform:translate3d(0,5px,0)
  }
}

@keyframes revealFade {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
    opacity: .2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
    opacity: 1;
  }
}