
/* card-list
-------------------------------------------------*/

.card-list li {
  /*min-height: 300px;*/
  float: left;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
}

.card-list .item-1 {
  margin-left: 0 !important
}

.card-list-4 li {
  width: 23.5%;
  margin-left: 2%;
}

.card-list-4 li:nth-child(4n-3) {
  clear: left;
  margin-left: 0
}

.card-list-3 li {
  width: 31.333%;
  margin-left: 3%;
}

.card-list-3 li:nth-child(3n+1) {
  margin-left: 0;
  clear: left;
}

@media (max-width: 800px) {

  .card-list-4 li {
    width: 31.333%;
    margin-left: 3%
  }

  .card-list-4 li:nth-child(4n-3) {
    clear: none;
    margin-left: 3%
  }

  .card-list-4 li:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }

  .card-list-3 li {
    width: 48%;
    margin-left: 4%;
  }

  .card-list-3 li:nth-child(3n+1) {
    clear: none;
    margin-left: 4%
  }

  .card-list-3 li:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

@media (max-width: 600px) {
  .card-list-4 li {
    width: 48%;
    margin-left: 4%
  }

  .card-list-4 li:nth-child(3n+1) {
    clear: none;
    margin-left: 4%
  }

  .card-list-4 li:nth-child(2n+1) {
    margin-left: 0;
    clear: left
  }

  .card-list-3 li {
    width: 100%;
    margin-left: 0%;
    clear: none
  }

  .card-list-3 li:nth-child(3n+1) {
    margin-left: 0
  }
}

@media (max-width: 460px) {
  .card-list-4 li {
    width: 100%;
    margin-left: 0%;
    clear: none
  }

  .card-list-4 li:nth-child(3n+1) {
    margin-left: 0
  }
}
